.sep-blue{
    background-color: #0073A5;
}
.sep-blue .darken{
    background-color: #126d9d;
}
.sep-blue-text{
    color: #0073A5;
}
.panel{
    color:black;
}
.panel-text{
    font-size: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.collection .collection-item.avatar .circle {
    width: 65px;
    height: 65px;
}
.collection .collection-item.avatar {
    padding-left: 100px;
    padding-right: 100px;
}
.collection .collection-item.avatar .title {
    font-size: 20px;
}
.file-size{
    font-weight: 500;
}
.download-icon{
    font-size: 60px;
}
.download-icon:hover{
    color: #4D9DC0;
}
footer.page-footer {
    background-color: #126d9d;
}
.pagination li.active {
    background-color: #126d9d;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #126d9d;
}
.btn:hover {
    background-color: #4D9DC0;
}
.file-type{
    margin-top:20px
}
.card-image img{
    display: block;
}
.card-image {
    overflow: hidden;
}
.collapsible-body p {
    padding: 0
}
.card .card-action {
    padding: 10px;
}
.project-img{
    height: 150px;
}
.card .card-title {
    font-size: 1vw;
}
@media (max-width: 992px) {
  .card .card-title {
    font-size: 3vw;
}
}
.language-showcase{
    height: 200px;
}
.four-oh-four{
    height: 75vh;
}