{% extends 'main.html' %}

{% block page %} 404 {% endblock %}
{% load range %}
{% block content %}
    <div class="row">
        <img class="four-oh-four col" src="{{ STATIC_URL }}404.png">
        <div class="">
            <h1 class="sep-blue-text">404</h1>
            <h3>Welp the page you tried to access is not available </h3>
            <h4>Luckily for you Chris is!</h4>
        </div>
    </div>
{% endblock %}