{% extends 'main.html' %}

{% block page %} Downloads {% endblock %}
{% load range %}
{% block content %}
    <div>
        <h2 class="header sep-blue-text">Downloads</h2>
    </div>
    <br>
    <br>
    <div class="row">
        <form class="col s6">
            <div class="row">
                <div class="input-field col s12">
                    <input name="q" id="icon_prefix" type="text" class="validate" {% if search %}value={{ search|remove_plus }}{% endif %}>
                    <label for="icon_prefix">Search</label>
                </div>
            </div>
        </form>
        <a class='file-type dropdown-button btn sep-blue' href='#' data-activates='dropdown1'>File Type</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/downloads/{% if search %}?q={{ search|safe }}{% endif %}">All Items</a></li>
            <li class="divider"></li>
            <li><a href="apps{% if search %}?q={{ search|safe }}{% endif %}">Software</a></li>
            <li class="divider"></li>
            <li><a href="books{% if search %}?q={{ search|safe }}{% endif %}">Books</a></li>
        </ul>

    </div>
    <ul class="collection">
        {% for file in files %}
            <li class="collection-item avatar">
                <img src="{{ MEDIA_URL }}{{ file.icon }}" class="circle">
                <span class="title">{{ file.name }}</span>
                <p class="light">
                    {{ file.description }}<br>
                    <span class="file-size">{{ file.item.size|filesizeformat }}</span>
                </p>
                <div class="valign-wrapper">
                    <a class="secondary-content sep-blue-text text-darken" href="{{ MEDIA_URL }}{{ file.item }}" download><i class=" waves-effect material-icons download-icon valign">file_download</i></a>
                </div>

            </li>
        {% endfor %}
    </ul>
    <br>
    {% if is_paginated %}
        <ul class="pagination">
             {% if page_obj.has_previous %}
                 <li><a href="?page={{ page_obj.previous_page_number }}{% if search %}&q={{ search|safe }}{% endif %}"><i class="material-icons">chevron_left</i></a></li>
             {% else %}
                 <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
             {% endif %}
             {% for page in page_obj.paginator.num_pages|get_range%}
                 {% if page == page_obj.number  %}
                      <li class="active"><a>{{ page }}</a></li>
                 {% else %}
                    <li class="waves-effect"><a href="?page={{ page }}{% if search %}&q={{ search|safe }}{% endif %}">{{ page }}</a></li>
                 {% endif %}
             {% endfor %}
             {% if page_obj.has_next %}
                 <li><a href="?page={{ page_obj.next_page_number }}{% if search %}&q={{ search|safe }}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
             {% else %}
                 <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
             {% endif %}
        </ul>
    {% endif %}
{% endblock %}