<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

{% load bootstrap3 %}

<body>
<div class="container">
        <h1>File Upload</h1>
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {% bootstrap_form form %}
            </div>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>


