{% extends 'main.html' %}

{% block page %} Home {% endblock %}

{% block content %}
    <div class="center-align">
        <h1 class="header sep-blue-text">Welcome</h1>
        <h5 class="subheader light">This is the locally hosted website for McKee's Software Engineering Pilot program. Explore and have fun!</h5>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col s12 m4 panels">
            <a class="waves-effect" href="{{ panel1.link }}">
            <div class="panel">
                <h2 class="center sep-blue-text"><i class="{{ panel1.icon }}"></i></h2>
                <h5 class="center">{{ panel1.name }}</h5>
                <p class="light panel-text">{{ panel1.description }}</p>
            </div>
            </a>
        </div>
        <div class="col s12 m4 panels">
            <a class="waves-effect" href="{{ panel2.link}}">
            <div class="panel">
                <h2 class="center sep-blue-text"><i class="{{ panel2.icon }}"></i></h2>
                <h5 class="center">{{ panel2.name }}</h5>
                <p class="light panel-text">{{ panel2.description }}</p>
            </div>
            </a>
        </div>
        <div class="col s12 m4 panels">
            <a class="waves-effect" href="{{ panel3.link }}">
            <div class="panel">
                <h2 class="center sep-blue-text"><i class="{{ panel3.icon }}"></i></h2>
                <h5 class="center">{{ panel3.name }}</h5>
                <p class="light panel-text">{{ panel3.description }}</p>
            </div>
            </a>
        </div>
    </div>
{% endblock %}