{% extends 'main.html' %}

{% block page %} {{ language }} {% endblock %}
{% load range %}
{% block content %}
    <div class="row">
        <img class="language-showcase col" src="{{ MEDIA_URL }}{{ language.icon }}">
        <div class="">
            <h2 class="header sep-blue-text">{{ language }}</h2>
            <h5 class="subheader light">Here is our display of some of the projects we have done using {{ language }}</h5>
            <p>{{ language.description }}</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        {% for project in projects %}
            <div class="col s6 m6 l3">
                <div class="card hoverable">
                    <div class="card-image project-img waves-effect waves-block waves-light">
                        <img class="activator" src="{{ MEDIA_URL }}{{ project.img }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ project }}<i class="material-icons right">more_vert</i></span>
                        {% if project.link %}
                            <p><a href="{{ project.link }}">Project Link</a></p>
                        {% endif %}
                        {% if project.git_link %}
                            <p><a href="{{ project.git_link }}">Project Git</a></p>
                        {% endif %}
                        {% if project.source %}
                            <p><a href="{{ MEDIA_URL }}{{ project.source }}">Project Source</a></p>
                        {% endif %}
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ project }}<i class="material-icons right">close</i></span>
                        <p>{{ project.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}