{% extends "main.html" %}

{% block content %}
    <div class="row">
        <div class="col s12 l6 offset-l3">
            <h1>Login</h1>
             <form action="/accounts/login/" method="post">
                 {% csrf_token %}
                 {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                 {% endif %}
                 <label for="user">Username</label>
                 <input id="user" type="text" name="username" value="{{ username}}" />
                 <label for="pass">Password</label>
                 <input id="pass" type="password" name="password" value="" /><br />

                 <input class="btn" type="submit" value="Log In" />
             </form>
        </div>
    </div>

{% endblock %}