{% extends 'base.html' %}

{% block title %}McKee SEP | {% block page%} {% endblock %} {% endblock %}


{% block body %}
    <header>
    {% block navigation %}
        <nav class="sep-blue" >
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">Room 209</a>
                <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="tooltipped"  data-position="bottom" data-delay="50" data-tooltip="Home" href="/"><i class="material-icons">home</i></a></li>
                    <li><a class="tooltipped"  data-position="bottom" data-delay="50" data-tooltip="Git" href="/gitbucket/"><i class="fa fa-git"></i></a></li>
                    <li><a class="tooltipped"  data-position="bottom" data-delay="50" data-tooltip="Downloads" href="/downloads/"><i class="material-icons">cloud_download</i></a></li>
                    <li><a class="tooltipped"  data-position="bottom" data-delay="50" data-tooltip="Showcase" href="/showcase"><i class="fa fa-code"></i></a></li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    </header>
    <main>
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    {% if user.is_authenticated %}
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large blue-grey tooltipped" data-position="left" data-delay="50" data-tooltip="Log Out" href="/accounts/logout">
                <i class="fa fa-sign-out"></i>
            </a>
            {% if request.user.is_superuser %}
                <ul>
                    <li><a class="btn-floating green tooltipped" data-position="left" data-delay="50" data-tooltip="Admin Site" href="/7h!W/"><i class="material-icons">settings</i></a></li>
                    <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="File Upload" href="/downloads/upload/"><i class="material-icons">publish</i></a></li>
                    <li><a class="btn-floating purple tooltipped" data-position="left" data-delay="50" data-tooltip="Short Link" href="/url"><i class="material-icons">link</i></a></li>
                </ul>
            {% endif %}
        </div>
    {% else %}
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large blue-grey tooltipped" data-position="left" data-delay="50" data-tooltip="Log In" href="/accounts/login">
                <i class="fa fa-sign-in"></i>
            </a>
        </div>
    {% endif %}
    </main>
    <footer class="sep-blue darken page-footer ">
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </footer>
{% endblock %}