{% extends 'main.html' %}

{% block page %} Showcase {% endblock %}
{% load range %}
{% block content %}
    <div>
        <h2 class="header sep-blue-text">Showcase</h2>
        <h5 class="subheader light">Here is our display of some of the projects we have done</h5>
    </div>
    <br>
    <br>
    <ul class="collapsible" data-collapsible="accordion">
        <li class="colap">
            <div class="collapsible-header"><i class="fa fa-code"></i>Programming Language</div>
            <div id="language-owl" class="owl-carousel collapsible-body">
                {% for language in languages %}
                    <div class="item">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ MEDIA_URL }}{{ language.icon }}">
                            </div>
                            <div class="card-action">
                                <a href="/language/{{ language.slug }}" class="">{{ language }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
        <li class="colap">
            <div class="collapsible-header"><i class="material-icons">event</i>Event</div>
            <div id="event-owl" class="owl-carousel collapsible-body">
                {% for event in events %}
                    <div class="item">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ MEDIA_URL }}{{ event.icon }}">
                            </div>
                            <div class="card-action">
                                <a href="/event/{{ event.slug }}" class="">{{ event }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
    </ul>
    <br>
    <div class="row">
        {% for project in projects %}
            <div class="col s6 m6 l3">
                <div class="card hoverable">
                    <div class="card-image project-img waves-effect waves-block waves-light">
                        <img class="activator" src="{{ MEDIA_URL }}{{ project.img }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ project }}<i class="material-icons right">more_vert</i></span>
                        {% if project.link %}
                            <p><a href="{{ project.link }}">Project Link</a></p>
                        {% endif %}
                        {% if project.git_link %}
                            <p><a href="{{ project.git_link }}">Project Git</a></p>
                        {% endif %}
                        {% if project.source %}
                            <p><a href="{{ MEDIA_URL }}{{ project.source }}">Project Source</a></p>
                        {% endif %}
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ project }}<i class="material-icons right">close</i></span>
                        <p>{{ project.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}